body {
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 0;
}

.expandItem {
    margin-bottom: 40px;
    cursor: pointer;
}

.expandItem.active {
    position: relative;
    &:before,
    &:after {
        content: '';
        left: 50%;
        position: absolute;
        border: 15px solid transparent;
    }
    &:before {
        border-top: 15px solid #BBBBBB;
        bottom: -31px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    &:after {
        border-top: 15px solid #ECECEC;
        bottom: -30px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.expandItemDetail {
    clear: both;
    display: none;
    margin-bottom: 30px;
}

.expandItem-img-brief {
    padding: 10px;
    background: #ECECEC;
}

.swiper-slide {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}
