$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
header {
    height: 50px;
    background: #A76463;
    font-size: 30px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}
